@model planinarskoUdruzenjeV3.Models.News

@{
    ViewData["Title"] = "Vijesti";
}

<h1>Obavještenje</h1>

<div>
    <dl class="row details">
        <dt class="col-sm-12">
            <h2>@Html.DisplayFor(model => model.Title)</h2>
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class="col-sm-12">
        </dd>
        <dt class="col-sm-3">
            Napisao:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-3">
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Izmijeni</a> |
                <a asp-action="Index">Nazad</a>
            </div>
        </dt>
    </dl>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Izbriši</a>

</div>

