@model IEnumerable<planinarskoUdruzenjeV3.Models.News>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="card bg-transparent">
            <div class="card-header">
                <div class="card-text float-right">
                    @if (User.IsInRole("administrator"))
                    {
                        <div class="card-title">
                            <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus mr-2"></i>Dodaj novo</a>
                        </div>
                     }
                    </div>
                <h2 class="card-title">
                    <i class="far fa-newspaper mr-4"></i>Obavještenja
                </h2>
            </div>
            <div class="card-body">
                <div class="row">
                    @foreach (var item in Model)
                    {
                            <div class="card mb-4 box-shadow col-md-12">
                                <div class="card-body row">
                                    <div class="col-md-8">
                                        <strong class="d-inline-block mb-2 text-primary">@item.Category</strong>
                                        <h3 class="card-title">@item.Title</h3>
                                        <div class="mb-1 text-muted">@item.CreatedAt</div>
                                        <div class="card-text mb-auto max-news-text w-100">
                                            @Html.Raw(item.Description)
                                        </div>
                                        <a asp-action="Details" asp-route-id="@item.Id">Nastavi čitati...</a>
                                    </div>
                                    <div class="col-md-4">
                                        <img  src="~/News/Image/?id=@item.Id"  style=" max-height: 200px; width: 100%">
                                    </div>
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex w-100 justify-content-center">
    <pagination page-count="@ViewBag.TotalPages" page-target="/news/index/" parametars="@ViewBag.Category"  page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
</div>
