@model planinarskoUdruzenjeV3.Models.Event

@{
    ViewData["Title"] = "Planinarske akcije";
}

@if (ViewBag.isApproved == Participation.NOT_APPROVED)
{
    <div class="alert alert-info alert-dismissible fade show">
        <strong>!</strong> Vaša prijava za učestvovanje na ovoj planinarskoj akciji još uvijek nije prihvaćena.
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}
else if (ViewBag.isApproved == Participation.APPROVED)
{

    <div class="alert alert-info alert-dismissible fade show">
        <strong>!</strong> Vaša prijava za učestvovanje na ovoj planinarskoj akciji je prihvaćena.
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}



<div class="row">
    <div class="col-12">
        <div class="card bg-transparent">
            <div class="card-header">
                <div class="card-text float-right">
                    <div class="card-title">
                        @if (User.IsInRole("administrator"))
                        {
                            <a class="btn btn-dark text-white" data-toggle="modal" data-target="#staticBackdrop">
                                <i class="fas fa-users mr-2"></i>Pregled učesnika
                            </a>
                        }
                        @if (User.IsInRole("korisnik") || User.IsInRole("administrator"))
                        {
                            @if (ViewBag.isApproved == Participation.NOT_EXIST && Model.Deadline > DateTime.Now)
                            {
                                <a class="btn btn-success" asp-action="Participate" asp-route-id="@Model.Id">
                                    <i class="fas fa-check-circle mr-2"></i>Prijavi se
                                </a>
                            }
                        }
                        @if (User.IsInRole("administrator"))
                        {
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">
                                <i class="far fa-edit mr-2"></i>Izmijeni
                            </a>
                            <button type="button" class="btn btn-danger text-white" data-toggle="modal" data-target="#brisanjePotvrda">
                                <i class="fas fa-trash-alt mr-2"></i>Izbriši
                            </button>
                        }


                    </div>
                </div>
                <h2 class="card-title">
                    <i class="fas fa-mountain mr-4"></i>@Html.DisplayFor(model => model.Title)
                </h2>
            </div>
            <div class="card-body pozadina">
                <div class="row">
                    <div class="col-sm-1">
                        <h6>Autor:</h6>
                    </div>
                    <div class="col-sm-8">
                        <h6>@ViewBag.CreatedBy</h6>
                    </div>
                    <div class="col-sm-3">
                        <h6 class="font-italic">@Html.DisplayFor(model => model.CreatedAt)</h6>
                    </div>
                    <div class="col-sm-3  mt-3">
                        <p><i class="far fa-calendar-check mr-2"></i> Datum održavanja:</p>
                    </div>
                    <div class="col-sm-9 mt-3">
                        <p>@Html.DisplayFor(model => model.Date)</p>
                    </div>
                    <div class="col-sm-3">
                        <p><i class="fas fa-map-marker-alt mr-2"></i>Lokacija:</p>
                    </div>
                    <div class="col-sm-9">
                        <p>@Html.DisplayFor(model => model.Location)</p>
                    </div>
                    <div class="col-sm-3">
                        <p><i class="fas fa-coins mr-2"></i>Cijena</p>
                    </div>
                    <div class="col-sm-9">
                        @if (Model.Price == null)
                        {
                            <p> Besplatno </p>
                        }
                        else
                        {
                            <p> @Html.DisplayFor(model => model.Price) KM</p>
                        }
                    </div>
                    <div class="col-sm-3">
                        <p><i class="fas fa-user-friends mr-2"></i> Maksimalan broj učesnika</p>
                    </div>
                    <div class="col-sm-9">
                        <p>@Html.DisplayFor(model => model.MaxParticipanst)</p>
                    </div>
                    <div class="col-sm-3">
                        <p><i class="far fa-calendar-times mr-2"></i>Rok za prijavu</p>
                    </div>
                    <div class="col-sm-9">
                        <p>@Html.DisplayFor(model => model.Deadline)</p>
                    </div>
                    <div class="col-sm-12">
                        <p> @Html.Raw(Model.Description)</p>
                    </div>


                    <div class="col-sm-12">
                        @foreach (var item in Model.File)
                        {
                            @if (!item.IsImage())
                            {
                                <a class="mr-3" href="~/File?id=@item.Id">@item.FileName</a>
                            }
                        }

                    </div>

                    <div class="col-sm-12">

                    </div>

                    <div class="row">
                        @foreach (var item in Model.File)
                        {
                            @if (item.IsImage())
                            {
                                <div class="col-md-4 col-sm-6 pb-4">
                                    <a target="_blank" href="~/File?id=@item.Id">
                                        <img src="~/File?id=@item.Id" class="w-100" style="height:250px">
                                    </a>
                                </div>
                            }
                        }
                    </div>


                </div>
                <a asp-action="Index">Nazad</a>
            </div>

        </div>
    </div>
</div>

@* nik *@

<div class="row mt-4">
    <div class="col-12">
        <div class="card bg-transparent">
            <div class="card-header">
                <div class="card-text float-right">
                    <div class="card-title">
                        @if (DateTime.Now > Model.Date)
                        {
                            <h3 class="card-title"><i class="fas fa-star mr-2"></i>@ViewBag.Average</h3>
                        }
                    </div>
                </div>
                <h4 class="card-title">
                    <i class="fas fa-comments mr-4"></i>Ocjene i komentari
                </h4>
            </div>

            <div class="card-body pozadina scrollable">
                @* Forma za unos komentara *@
                @if (User.IsInRole("korisnik") || User.IsInRole("administrator"))
                {
                    @if ((DateTime.Now > Model.Date) && DateTime.Now <= Model.Date.AddDays(10))
                    {
                        <form asp-action="Rating">
                            <div class="form-group row">
                                <input name="eventId" type="hidden" value="@Model.Id" />
                                <input type="hidden" id="selected_rating" name="stars" value="" required="required">
                                <div class="col-md-6">
                                    <button type="button" class="btnrating btn btn-default btn-md" data-attr="1" id="rating-star-1">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btnrating btn btn-default btn-md" data-attr="2" id="rating-star-2">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btnrating btn btn-default btn-md" data-attr="3" id="rating-star-3">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btnrating btn btn-default btn-md" data-attr="4" id="rating-star-4">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btnrating btn btn-default btn-md" data-attr="5" id="rating-star-5">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </button>
                                    <h2 class="bold float-right" style="">
                                        <span class="selected-rating">0</span><small> / 5</small>
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <textarea class="w-100" name="comment" rows="4" style="resize:none"></textarea>
                                </div>
                                <div class="form-group col-auto mb-4 mt-auto">
                                    <button type="submit" class="btn-success btn-md">Ocijeni</button>
                                </div>
                            </div>
                        </form>
                    }
                }
                @* Komentari *@
                <div class="row">
                    @if (ViewBag.Comments.Count == 0)
                    {
                        <div class="col-12">
                            <p>Još uvijek nema komentara za ovaj događaj...</p>
                        </div>
                    }
                    @foreach (var rate in ViewBag.Comments)
                    {
                        <div class="col-12">
                            <div class="card bg-transparent">
                                <div style="padding-left:15px">
                                    <div class="card-text float-right">
                                        <h6 class="font-italic">@rate.CreatedAt</h6>
                                    </div>
                                    <div>
                                        <h3 class="card-title">
                                            @rate.User.FirstName @rate.User.LastName
                                        </h3>
                                        <p>
                                            <span>@rate.Stars</span>
                                            @for (int i = 0; i < rate.Stars; i++)
                                            {
                                                <span class="fa fa-star star-active"></span>
                                            }
                                            @for (int j = rate.Stars; j < 5; j++)
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                        </p>
                                    </div>
                                </div>
                                <p style="padding-left:15px">@rate.Comment</p>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>





        @* Modal-potvrda za brisanje *@
        <div class="modal fade" id="brisanjePotvrda" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Brisanje</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Da li ste sigurni da želite izbrisati ovu planinarsku akciju?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="@Model.Id" />
                            <input type="submit" value="Potvrdi" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @* Modal-ucesnici na akciji *@
        <div class="modal  fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Pregled učesnika</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-info">
                            <thead>
                                <tr>
                                    <th>Ime i prezime</th>
                                    <th>Odobren</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var participant in ViewBag.Participants)
                                {
                                    <tr>
                                        <td>@participant.Name</td>
                                        <td>
                                            <form asp-action="Activate">
                                                <input type="hidden" value="@Model.Id" name="eventId" />
                                                <input type="hidden" value="@participant.UserId" name="userId" />
                                                <input class="form-check-input" name="isApproved"
                                                       type="checkbox" @(participant.isApproved ? "checked" : "")
                                                       onChange="this.form.submit()">
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>

                    </div>
                </div>
            </div>
        </div>

