@model planinarskoUdruzenjeV3.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <dl class="row details">
        <dt class="col-sm-12">
            <h2>@Html.DisplayFor(model => model.Title)</h2>
        </dt>
        <dt class="col-sm-3">
            Opis
        </dt>
        <dd class="col-sm-9">
            @Html.Raw(Model.Description)
        </dd>
        <dt class="col-sm-3">
            Datum održavanja
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-3">
            Rok za prijavu
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-3">
            Maksimalan broj učesnika
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MaxParticipanst)
        </dd>
        <dt class="col-sm-3">
            Lokacija
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-3">
            Cijena
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-3">
            Kreirao
        </dt>
        <dd class="col-sm-9">
            @ViewBag.CreatedBy
        </dd>
        <dt class="col-sm-3">
            Datum i vrijeme kreiranja
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dd class="col-sm-12">
            @foreach (var item in Model.File)
            {
                @if (!item.IsImage())
                {
                    <a class="mr-3" href="~/File?id=@item.Id">@item.FileName</a>
                }
            }

        </dd>
        <div class="row">
            @foreach (var item in Model.File)
            {
                @if (item.IsImage())
                {
                    <div class="col-md-4 col-sm-6">
                        <a target="_blank" href="~/File?id=@item.Id">
                            <img src="~/File?id=@item.Id" class="w-100" style="height:250px">
                        </a>
                    </div>
                }
            }
        </div>
        <dt class="col-sm-3">
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Izmijeni</a> |
                <a asp-action="Index">Nazad</a>
            </div>
        </dt>

    </dl>
    @if (ViewBag.isApproved == Participation.NOT_EXIST)
    {
        <a class="btn btn-dark dugme" asp-action="Participate" asp-route-id="@Model.Id">Prijavi se</a>
    }
    else if (ViewBag.isApproved == Participation.NOT_APPROVED)
    {
        <div class="alert alert-info alert-dismissible fade show">
            <strong>Info!</strong> Vaša prijava za učestvovanje na ovoj planinarskoj akciji još uvijek nije prihvaćena.
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>

        
    }
    else if (ViewBag.isApproved == Participation.APPROVED)
    {
        
<div class="alert alert-info alert-dismissible fade show">
    <strong>Info!</strong> Vaša prijava za učestvovanje na ovoj planinarskoj akciji je prihvaćena.
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
    }


    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Izbriši</a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Pregled učesnika
    </button>

    <div class="collapse" id="collapseExample">
        <table class="table table-info">
            <thead>
                <tr>
                    <th>Ime i prezime</th>
                    <th>Odobren</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var participant in ViewBag.Participants)
                {
                    <tr>
                        <td>@participant.Name</td>
                        <td>
                            <form asp-action="Activate">
                                <input type="hidden" value="@Model.Id" name="eventId" />
                                <input type="hidden" value="@participant.UserId" name="userId" />
                                <input class="form-check-input" name="isApproved"
                                       type="checkbox" @(participant.isApproved ? "checked" : "")
                                       onChange="this.form.submit()">
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>
